/* Full-screen gradient animated background */
html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  background-size: 400% 400%;
  animation: backgroundAnimation 20s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Gradient animation */
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Glassy login card */
.login-form {
   background: rgba(255, 255, 255, 0.01); 
  backdrop-filter: blur(20 px);
  -webkit-backdrop-filter: blur(20 px);
  border-radius: 20px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.35);
  padding: 40px 30px;
  /* max-width: 100%;  */
  width: 400 px;
  text-align: center;
  color: #0c0c0c77;
  animation: fadeIn 1.2s ease;
  height: ;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Form title */
.login-form h1 {
  margin-bottom: 24px;
  font-size: 32px;
}

/* Error message */
.error {
  color: #ff6b6b;
  margin-bottom: 16px;
  font-size: 14px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: background 0.3s;
}

input::placeholder {
  color: rgba(12, 12, 12, 0.884);
}

/* Primary button */
button {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;
  background-color: #dcefff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #2c3e50;
}



/* Google login button */
.google-button {
  background-color: white;
  color: #444;
}

.google-icon {
  margin-right: 8px;
  font-weight: bold;
}

/* Signup section */
.signup-link {
  margin-top: 18px;
  font-size: 14px;
}

.signup-link button {
  background-color: #dcefff;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.signup-link button:hover {
  color: #dcefff;
}

body{
  border-radius: 25px;
}

form{
  width: 100%;
}
body{
  width: 30%;
}